.inputDiv{
    margin: 0.5rem;
    text-align: center;
}

.productInput{
    color: black;
    
}

.eror{
    color: red;
    border: solid 5px red;
}
.productInputLable{
    margin: 0.5rem;
 
    text-align: right;
    display: inline-block;
    width: 100px;
   
}

.title{
    color: blue;
    text-align: center;
}

.productLi{
    margin-left: 1rem;
    margin: 0.5rem;
}


.productP:hover{
   
    font-weight: bold;
    cursor :pointer;
  
}

.choosenProduct{
    color: blueviolet;
    background-color:rgb(191, 221, 211);
    font-weight: bold;
    
}

.productP{
    width: 80%;
    overflow: hidden;
    margin: 5px;
    padding: 1vh;
    padding-left: 2vw;
}


.productDiv{
    display: flex;
}

.deleteProductButton{
  
    margin-left: 1rem;
    border-radius: 10px ;
    border: 1px solid;
  
}
.deleteProductButton:hover{
    background-color: cadetblue;

}
.btn:hover{
  
    border: 2px solid black;
    border-radius: 10px ;
    cursor :pointer;
}

.subTitles{
    color: brown;
    text-align: center;
}

.productDetails{
    padding: 1vh;
    padding-left: 2vw;
}

#app{
    overflow: hidden;
  
}

#inputProductDetails{

}
#poductContainer{
    display: flex;
}



#productListUl{
    border: solid 1px;
    min-height: 30vh;
    padding: 1rem;
   width: 30vw;
   margin: 3vh;
   list-style-type: none;
   overflow-y: scroll;
   height: 30vh;

}

#productListUl:hover{
}

#productDetails{
   
   
}

#productDetalisContainer{
    border: solid 1px;
    padding: 1rem;
   width: 30vw;
   margin: 3vh;
   overflow-y: scroll;
   height: 30vh;
}
#poductContainer{

    justify-content: center;
}


#appFooter{
    position: absolute;
    bottom: 0;
    min-height: 10vh;

    width:90vw;
    text-align: center;
    justify-content: center;
}
#gitLink{
    position: absolute;
    bottom: 2VH;
    font-size:4vh;
}

#addProduct-button{
    justify-content: center;
    margin-left: 48vw;
    border-radius: 10px;
    background-color: chartreuse;
    height: 5vh;
    border: 1px solid black;

}


#addProduct-button:hover{
    
    background-color:rgb(94, 163, 25);
    border: 2px solid black;
    border-radius: 10px ;
    cursor :pointer;
}
#messageP{
    position: relative;
    bottom: 3VH;
    width: 90vw;
    justify-content: center;
    margin-left:3vw;
    font-size: large;
}
.erorMessage{
    color: red;
    background-color: rgb(244, 201, 201);
    border-radius: 4px  ;
}