.inputDiv{
    margin: 1rem;
    text-align: center;
}
.productInputLable{
    margin: 1rem;
   
}

.title{
    color: blue;
    text-align: center;
}

#addProduct-button{
    /* justify-content: center; */
}
/* #appContainer{
    background-color: blue;
} */